html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (min-width:300px) and (max-width:492px) {
    body {
        background-color: rgb(255, 253, 226);
        margin-left: 5px;
        margin-right: 5px;
        font-size: 25px;
    }

    li {
        font-size: 25px;
    }

    h1 {
        text-align: center;
        font-size: 100%;
    }

    h2 {
        font-size: 100%;
    }

    footer {
        font-size: 18px;
    }
}