.super-mario {
    width: 200px;
    right: 50px;
  }
  
  .goomba {
    width: 100px;
       
  }
  
  .baloon{
      float: left; 
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left:30px;
    top: 590px;
  }
  
  .bowser {
    width: 200px;
  }